{% extends "layout.html" %}

{% block content %}

  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script> 
  <script type="text/javascript" src="{{ url_for('static', filename = 'log_sales.js') }}"></script>

  <script>
    let sales = {{sales|tojson}} 
    let clients = {{clients|tojson}}
    console.log(sales)
    console.log(clients)
  </script>

  <div class="container mt-3">
    <!-- Client and Reams Input -->
    <div class="mb-3">
      <div class="input-group">
        <input type="text" class="form-control" id="client" placeholder="Client">
        <input type="text" class="form-control" id="reams" placeholder="# Reams">
        <button type="button" class="btn btn-primary" id="submit">SUBMIT</button>
      </div>
    </div>
    <!-- Sales Records -->
    <div id="sales-list-container">
      <h2>Sales Records</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            Salesperson
          </div>
          <div class="col-md-3">
            Clients
          </div>
          <div class="col-md-3">
            Reams
          </div>
        </div>
      </div>
      <div id="salesContainer" class="row mt-3"></div>
    </div>

    <!-- Trash Box -->
    <div class="trash-box" id="droppable">🗑️ TRASH 🗑️</div>
  </div>

{% endblock %}